<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareCodeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayTest1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetLearn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5087C5321DC1DBA800473045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5087C53A1DC1DBA800473045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C50F651DC0D06200873F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C50F7E1DC0D06200873F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C50F891DC0D06200873F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C50F9F1DC0D08800873F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
